@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@function vw($px) {
	$vw: 100vw;
	@return math.div($px, 1440) * $vw;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
	font-size: vw(20);
	line-height: 1;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}

.button {
	border: none;
	background: black;
	color: white;
	padding: vw(12) vw(40);
	border-radius: vw(100);
	font-size: vw(16);
	cursor: pointer;
}

.button--white {
	background-color: white;
	color: black;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: vw(100);
	padding-inline: vw(24);
}

.header__logo {
	font-size: vw(40);
}

.preloader {
	overflow: hidden;
	/* opacity: 0; */
}

.preloader__background {
	position: fixed;
	inset: 0;
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
	color: white;
}

.preloader__text {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	line-height: 1;
	z-index: 3;
	color: white;
	margin-bottom: vw(-2);
	padding-bottom: vw(2);
}

.preloader__text span {
	display: block;
}

.hero {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	padding-inline: vw(24);
}

.hero__wrapper {
	border-radius: vw(16);
	overflow: hidden;
	height: calc(100vh - vw(124));
	margin-inline: vw(24);
}

.hero__image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}

.hero__caption {
	overflow: hidden;
	margin-bottom: vw(32);
	font-size: vw(18);
	padding-bottom: vw(2);
	margin-bottom: vw(-2);
}

.hero__caption span {
	display: block;
}

.hero__title {
	font-size: vw(104);
	font-weight: 400;
	max-width: 11ch;
	margin-bottom: vw(64);
	line-height: 1.2;
	letter-spacing: -0.03em;
}

.hero__title span {
	display: block;
	overflow: hidden;
	line-height: 1.05;
	padding-bottom: vw(5);
	margin-bottom: vw(-5);
}

.hero__title span span {
	display: block;
}

.hero-image-start {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100vh;
}
